<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title:"FamilyShoppingCart."}) %>
  <body>
    <%- include("partials/header") %>
    <%- include("partials/hero") %>
    <%- include("partials/company") %>
    <%- include("partials/pricing") %>
    <%- include("partials/footer") %>
  </body>
</html>
